<div id ="buttons">
  <span id="articlebutton">Articles</span><span id="videobutton">Videos</span>
</div>

<div id = "videolist">
  <% @http_video_json["data"].each do |video| %>
  <div class="video child" id="video<%=@http_video_json["data"].index(video)%>">
    <span id="image <%=@http_video_json["data"].index(video) %>" style="display:none;"><%= video['thumbnail']%></span>
    <span class="left black divNumber"><%= @http_video_json["data"].index(video) + 1 %></span>
    <span class="right gray time"><%= video["metadata"]["duration"] %></span>
    <div class="clip">
      <span class="black"><%= video["metadata"]["title"] %></span>
    </div>
    <div class="ellipsis">
      <span class="gray"><%= video["metadata"]["longTitle"] %></span>
    </div>
  </div>
  <% end %>
</div>

<div id = "articlelist">
  <% @http_articles_json["data"].each do |article| %>
  <div class="article child" id="article<%=@http_articles_json["data"].index(article)%>">
    <span id="image <%=@http_articles_json["data"].index(article) %>" style="display:none;"><%= article['thumbnail']%></span>
    <span class="left black divNumber"><%= @http_articles_json["data"].index(article) + 1 %></span>
    <span class="right gray date"><%= article["metadata"]["publishDate"] %></span>
    <div class="clip">
      <span class="black"><%= article["metadata"]["headline"] %></span>
    </div>
    <div class="ellipsis">
      <span class="gray"><%= article["metadata"]["subHeadline"] %></span>
    </div>
  </div>
  <% end %>
</div>